
@media only screen and (max-width: 768px){ 
  .box {
        height: auto !important;
    } 
}

/*Bootstrap Small devices: >768px, <992px */
@media only screen and (max-width: 992px) and (min-width: 768px) {
  
}

/* Bootstrap Medium devices >992px, <1200px AND Large devices >1200px*/
@media (min-width: 991px){
  
}

/*Start New Flyout*/

#flyoutDivAmazonUS {
}

#flyoutTopLevelList > li:hover, #flyoutTopLevelList > li > label:hover {
    cursor: pointer;
    color: aquamarine;
}

#flyoutTopLevelList {

}

.float-flyout-US {
    overflow: hidden;
}

.float-flyout-US > li {
    float: left;
    padding: 10px;
    width: 16.666%;
}

.float-flyout-IN {
    overflow: hidden;
}

.float-flyout-IN > li {
    float: left;
    padding: 10px;
    width: 20%;
}


.flyout0Node {

}

.flyout0Node label {
  font-weight: bold;
}

.flyout0Node > .caret {
  opacity: 0;
}

.selectedFlyout0Node {

}

.selectedFlyout0Node > .caret {
  opacity: 1;
}

.flyoutDetailDiv {
  display: none;
}

.selectedFlyoutDetailDiv {
  display: block;
}

.flyoutNodeList {
    padding: 25px;
}

.flyoutNodeList label {
  font-weight: normal;
}

.flyoutNodeList > li:hover, .flyoutNodeList > li > label:hover {
    cursor: pointer;
    color: aquamarine;
}


.flyoutSubHeadNode {

}

.flyoutSubHeadNode > label {
  font-weight: bold;
}

.bg-gray {
    background-color: #F0F8FF;
}

/*End Flyout*/