
@media only screen and (max-width: 767px){ 

#navbar {
	display: none;
}

#navbarHeader {
	display: none;
	z-index:999;
}

#navbarPhone {
	max-height: 45px;
	height: 45px;
	padding: 8px;
}

#headerLogoPhone {
	height: 30px;
}
#headerLogoPhone > img {
	height: 30px;
}

#navbarPhone > .list-inline {
	float: right;
	height: 30px;
}

.navbar-nav .paddingRight10 {
	padding-right: 0px;
	padding-bottom: 10px;
}
.navbar-nav .paddingRight20 {
	padding-right: 0px;
	padding-bottom: 20px;
}
.navbar-nav .paddingLeft20 {
	padding-left: : 0px;
	padding-top: 20px;
}
.chatViewButtonOuter label {
	width: 100%;
}

#cartMainButton{
	width: 100%;
	margin: 0;
}

#chatViewButton{
	margin:0px;
}
#chatViewButtonOuterDiv{
	padding: 0px;
}

#cartButtonOuterDiv{
	padding: 0px;
}

#searchBarOuterPhone {
	width: 100%;
	background-color: transparent;
	/*padding: 0px 8px 8px 8px;*/
	padding: 0px 5px 5px 5px;
}

.searchBarPhoneFixed {
	position: fixed;
	top: 0%;
	left: 0%;	
	z-index: 999;
	background-color: #3f4a68 !important;
	padding: 5px !important;
}

#searchBarOuterPhone > form, #searchBarOuterPhone > form > .input-group {
	width: 100%;
}

#searchBarOuterPhone > form > .input-group > input {
	width: calc(100% - 35px);
}

#searchBarOuterPhone > form > .input-group > button {
	width: 30px;
	padding-right: 6px;
	padding-left: 6px;
	float: right;
}

}

@media only screen and (max-width: 991px) and (min-width: 768px) {
	#navbarPhone {
		display: none;
	}

#searchBarOuterPhone {
	display: none;
}

 #hud-navbar-container{
    display: flex;
    flex-direction: column; 
  }
  #hud-navCollapse2{
  }
  /*
  In Phone: padding-right:0px; padding-bottom:10px;
  ADD to Media Query.
  */
  .navbar-nav .paddingRight10 {
    padding-right: 10px;
    padding-bottom: 0px;
  }
  /*
  In Phone: padding-right:0px; padding-bottom:20px;
  ADD to Media Query.
  */
  .navbar-nav .paddingRight20 {
    padding-right: 20px;
    padding-bottom: 0px;
  }

  .navbar-nav .paddingLeft10 {
    padding-left: 10px;
  }
  .navbar-nav .paddingLeft20 {
    padding-left: 20px;
  }
  .chatViewButtonOuter label {
    max-width: 90px;
  }

  #searchForm{
    display: flex;
    flex-direction: row;
  }

  #cartMainButton{
      width: 100%;
      margin: 0;
    }

    #chatViewButton{
      margin:0px;
    }
    #chatViewButtonOuterDiv{
      padding: 0px;
    }
    #cartButtonOuterDiv{
      padding: 0px;
    }
}

@media (min-width: 992px){

.navbar-outerDivChatOn {
	width: 75%;
}

#navbarPhone {
	display: none;
}

#searchBarOuterPhone {
	display: none;
}

/*#cartMainButton{
  margin-left: 20px;
}*/
#chatViewButtonOuterDiv{
	padding-left: 20px;
}
#cartButtonOuterDiv{
	 padding-left: 0px;
}

/*
In Phone: padding-right:0px; padding-bottom:10px;
ADD to Media Query.
*/
.navbar-nav .paddingRight10 {
	padding-right: 10px;
	padding-bottom: 0px;
}
/*
In Phone: padding-right:0px; padding-bottom:20px;
ADD to Media Query.
*/
.navbar-nav .paddingRight20 {
	padding-right: 20px;
	padding-bottom: 0px;
}

.navbar-nav .paddingLeft10 {
	padding-left: 10px;
}
.navbar-nav .paddingLeft20 {
	padding-left: 20px;
}
.chatViewButtonOuter label {
	max-width: 90px;
}
}


/*Anything else here*/

#navbar-outerDiv {
	max-height: 45px;
}

#navbar {
	margin: 0px 0px 0px 150px;
}

.navbar-header {
  margin-left: 10px;
}

#headerLogo {
	cursor: pointer;
	padding: 0px !important;
}

.nav {
  margin:0px !important;
  min-height: 45px;
}

#hud-navCollapse{
  padding:0px;
}

.chatViewButtonOuter label {
  color: white;
  font-weight: normal;
}


.navbar-collapse.in .chatViewButtonOuter span {
  display: none;
} 

.navbar-toggle {
  margin-top:0px;
  background-color:#3f4a68;
  border: 1px solid black;
  border-radius: 4px;
}
.navbar-toggle .icon-bar {
  background-color: white;
}

#retailerDropdownOuter {

}

#retailerDropdownOuterPhone {
	padding: 0px;
}

#retailerDropdownButtonPhone {
	padding: 1px 2px 5px 5px;
	height: 25px;
	margin-top: 3px;
	margin-bottom: 2px;
}

#retailerDropdownButtonPhone > .caret{
	margin: 0px;
}

#retailerDropdownButton > span > img {
	height: 12px;
	width: auto;
	padding-right: 5px;
}

#retailerDropdownButtonPhone > span > img {
	height: 15px;
	width: auto;
}

#retailerDropdownMenu{
	display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
}

#retailerDropdownMenuPhone {
	display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 50px;
    right:8px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 999;
    cursor: pointer;
}

#retailerDropdownMenu a {
	color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#retailerDropdownMenuPhone a  {
	color: black;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

#retailerDropdownMenu a:hover {
	background-color: lightgray;
}

#retailerDropdownMenu > a > span > img {
	height: 12px;
	width: auto;
}

#retailerDropdownMenuPhone > a > span > img {
	height: 15px;
	width: auto;
}


#cartImage{
	height: 18px;
	width: 18px;
	margin-right: 5px;
}










