

#retailerDropdownOuter {

}

#retailerDropdownButton {

}

#retailerDropdownButton > span > img {
	height: 12px;
	width: auto;
	padding-right: 5px;
}

#retailerDropdownMenu {
	display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
}

#retailerDropdownMenu a {
	color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#retailerDropdownMenu a:hover {
	background-color: lightgray;
}

#retailerDropdownMenu > a > span > img {
	height: 12px;
	width: auto;
}