{{!-- </!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body> --}}
	<div id="test">
		TEST
	<div>

	<script type="text/javascript">
		
	$('#test').on('mouseover',function () {
		console.log('hovered');
	});

	</script>
{{!-- </body>
</html> --}}
